.container {
	margin-top: 3%;
	padding: 1%;
	margin-bottom: 3%;
	position: relative;
	width: 90vw;
	height: unset;
	/*	border-bottom: 1px solid black;*/
}

.title {
	font-family: Major Mono Display, monospace;
	margin: 3%;
	font-size: 2em;
	display: contents;
}
.imageContainer {
	border: 1px solid black;
	float: right;
	width: 35%;
	margin: 1%;
}
.altTitle {
	font-family: Major Mono Display, monospace;
	position: absolute;
	right: 3%;
	top: 3%;
	margin: 3%;
	font-size: 2em;
	display: contents;
}
.altImageContainer {
	border: 1px solid black;
	float: left;
	width: 35%;
	margin: 1%;
}
@media (max-width: 1000px) {
	.container:after {
		content: "";
		display: block;
		margin: 0 auto;
		width: 70%;
		padding-top: 3%;
		border-bottom: 1px solid black; 
	}
}
