.skillPage {
	display: flex;
	overflow: scroll;
	flex-direction: column;
	position: absolute;
    top: 18%;
    /*height: 70%;*/
 }
 .skill{
 	display: inline-block;
 	margin: 3%;
 	font-size: 1.3em;
 	/*font-family: Gloria Hallelujah; */
    /*font-family: Amatic SC;*/
    font-family: Josefin Sans;
 }